$icon-height: 24px;

.sidebar {
  padding-top: 6px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  z-index: 200;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
}

.sidebar__icon {
  height: $icon-height;
}

.sidebar__icon-container {
  width: 100%;
  color: rgb(43, 43, 43);
  z-index: 200;
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: "Roboto";
  gap: 6px;
  cursor: pointer;

  &:hover {
    background-color: rgb(223, 223, 223);
  }
}
